body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    font-size: 120%;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.big-card {
    background-color: rgba(0, 0, 0, 0.849);
    color: whitesmoke;
    padding: 2.7em 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin-right: 1em;
    margin-left: -4em;
    box-shadow: -6px 10px 14px -5px rgba(0, 0, 0, 0.575);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 41px;
    width: 41px;
    background-color: rgba(128, 128, 128, 0.575);
    color: white;
}

.btn:hover {
    background-color: rgba(245, 245, 245, 0.418);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.img-sizer,
.ok {
    width: 16px;
    height: 16px;
}

.inputText {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    font-family: inherit;
    font-size: 100%;
    width: calc(100% - 100px);
    background-color: rgba(128, 128, 128, 0.575);
    color: white;
}

.icon {
    width: 110px;
    height: 110px;
}

.description,
.humidity,
.wind {
    margin: 10px;
}

.weather {
    margin: 0;
    font-size: 2em;
    height: 2.5em;
    width: 95%;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.flex h1 {
    font-size: 2.5em;
    font-weight: 400;
}

.details {
    width: 95%;
    font-weight: 400;

}

.showResult {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    text-transform: capitalize;
}

/* ------------------------------------------------- little-cards */

.little-card1,
.little-card2,
.little-card3 {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    padding: 0.25em 0.1em;
    border-radius: 30px;
    width: 110%;
    max-width: 900px;
    margin: 11px 15px;
    box-shadow: 4px 9px 14px -1px rgba(17, 51, 85, 0.27);
}

.time-card,
.date-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    border-radius: 20px;
    width: 55%;
    max-width: 900px;
    margin: 15px;
    box-shadow: 4px 9px 14px -1px rgba(17, 51, 85, 0.27);
}

.luxon-flex {
    display: flex;
    flex-direction: row;
    width: 116%;
    font-size: 1em;
}

.date-time-css {
    color: rgba(245, 245, 245, 0.781);
    font-size: 0.9em;
}

.little-container {
    width: 40%;
}

.little-name {
    margin: 0;
    font-size: 1.7em;
    margin-left: 20px;
}

.little-temp {
    margin: 0;
    font-size: 1.7em;
    color: rgba(245, 245, 245, 0.781);
}

.little-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.little-flex_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.little-description {
    text-transform: capitalize;
    font-size: 0.6em;
}

.form-flex {
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.575);
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.form-flex input {
    margin: 0.2em;
    margin-bottom: 0.5em;
    border: none;
    outline: none;
    border-radius: 24px;
    font-family: inherit;
    font-size: 90%;
    padding: 7px;
    padding-left: 10px;
    width: calc(60% - 100px);
    background-color: rgba(128, 128, 128, 0.575);
    color: white;
}

.welcome-p {
    margin-right: 10px;
}

.btn-ok {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 33px;
    width: 33px;
    background-color: rgba(128, 128, 128, 0.575);
    color: white;
    cursor: pointer;
}

.btn-ok:hover {
    background-color: rgba(245, 245, 245, 0.418);
    transition: 0.2s ease-in-out;
}